/* Add back when remove header
body {
	padding-top: 50px;
}
*/
/* This is when there is a notice in the header */
body {
	padding-top: 20px;
}
footer {
	padding-bottom: 50px;
}
hr {
	height: 50px;
}
.card-columns {
	column-count: 2;
}
.h1-center {
	text-align: center;
}