/* Fonts */
@font-face {
	font-family: Ubuntu;
	src:url(../fonts/ubuntu.ttf);
}

/* Main CSS */

body {
	padding-top: 20px;
	font-family: 'Ubuntu', sans-serif;
}
footer {
	padding-bottom: 50px;
}
hr {
	height: 50px;
}
.card-columns {
	column-count: 2;
}
.h1-center {
	text-align: center;
}