<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/font-awesome.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">
  <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</head>