<div class="container">
	<a href="{{ site.baseurl }}/" style="color: inherit;">
		<span class="fa fa-home fa-3x"></span>
	</a>
	<h1 class="h1-center">{{ project.name }}</h1>
	<br />
	{% if project.website or project.github %}
		<div class="card">
			<div class="card-block">
				<h2 class="card-title">Project Links</h2>
				<p class="card-text">
					{% if project.website %}
						<a href="{{ project.website }}" style="color: inherit;padding-right: 50px;">
							<span class="fa fa-link fa-3x"></span>
						</a>
					{% endif %}
					{% if project.github %}
						<a href="https://github.com/{% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }}" style="color: inherit;padding-right: 50px;">
							<span class="fa fa-github fa-3x"></span>
						</a>
						<a href="https://github.com/{% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }}/archive/master.zip" style="color: inherit;">
							<span class="fa fa-download fa-3x"></span>
						</a>
					{% endif %}
				</p>
			</div>
		</div>
		<br />
	{% endif %}
	{% if project.languages.html or project.ruby or project.languages.css or project.languages.javascript or project.python or project.languages.applescript or project.languages.apache %}
		<div class="card">
			<div class="card-block">
				<h2 class="card-title">Badges</h2>
				<p class="card-text">
					{% if project.status %}
						<img src="https://travis-ci.org/{% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }}.svg?branch=master">
					{% endif %}
					{% if project.languages.html %}
						<img src="https://img.shields.io/badge/Language-HTML-e44b23.svg">
					{% endif %}
					{% if project.ruby %}
						<img src="https://img.shields.io/badge/Language-Ruby-701516.svg">
					{% endif %}
					{% if project.languages.css %}
						<img src="https://img.shields.io/badge/Language-CSS-563d7c.svg">
					{% endif %}
					{% if project.languages.javascript %}
						<img src="https://img.shields.io/badge/Language-JavaScript-f1e05a.svg">
					{% endif %}
					{% if project.python %}
						<img src="https://img.shields.io/badge/Language-Python-3572A5.svg">
					{% endif %}
					{% if project.languages.applescript %}
						<img src="https://img.shields.io/badge/Language-AppleScript-101F1F.svg">
					{% endif %}
					{% if project.languages.apache %}
						<img src="https://img.shields.io/badge/Language-ApacheConf-lightgrey.svg">
					{% endif %}
					{% if project.license == "mit" %}
						<img src="https://img.shields.io/badge/License-MIT-blue.svg">
					{% endif %}
					{% if project.license == "apache" %}
						<img src="https://img.shields.io/badge/License-Apache-blue.svg">
					{% endif %}
					{% if project.license == "gpl" %}
						<img src="https://img.shields.io/badge/License-GPL--3.0-blue.svg">
					{% endif %}
				</p>
			</div>
		</div>
		<br />
	{% endif %}
	<!--
	{% if project.github %}
		<div class="card">
			<div class="card-block">
				<h2 class="card-title">GitHub Links</h2>
				<p class="card-text">
					<div>
						<a class="github-button" href="https://github.com/michael-bateman" data-style="mega" aria-label="Follow @michael-bateman on GitHub">Follow @michael-bateman</a>
						<a class="github-button" href="https://github.com/{% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }}" data-icon="octicon-star" data-style="mega" aria-label="Star {% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }} on GitHub">Star</a>
						<a class="github-button" href="https://github.com/{% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }}/fork" data-icon="octicon-repo-forked" data-style="mega" aria-label="Fork {% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }} on GitHub">Fork</a>
						<a class="github-button" href="https://github.com/{% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }}/subscription" data-icon="octicon-eye" data-style="mega" aria-label="Watch {% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }} on GitHub">Watch</a>
						<a class="github-button" href="https://github.com/{% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }}/issues" data-icon="octicon-issue-opened" data-style="mega" aria-label="Issue {% if project.github_username %}{{ project.github_username }}{% else %}michael-bateman{% endif %}/{{ project.github }} on GitHub">Issue</a>
					</div>
				</p>
			</div>
		</div>
		<br />
	{% endif %}
	-->
</div>