{% assign project = site.data.projects[page.project] %}
<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

  <body>

  	{% include header.html %}

  	{% include project-header.html %}
  	
	  	<div class="container">
	  		<div class="card">
					<div class="card-block">
						<h2 class="card-title">About</h2>
						<p class="card-text">
							{{ content }}
						</p>
					</div>
				</div>
  		</div>

  	{% if project.github %}
  		<br />
  		{% include cloning.html %}
  	{% endif %}

  	<br />

    {% include footer.html %}

  </body>

</html>